.maindiv{
  display: flex;
  margin:80px;
  border:5px solid black;
  border-radius: 50px;
  background-color: lightblue;
  padding: 50px;
}
.div1{
  border: 2px solid black;
  padding: 15px;
  margin: 20px;
  border-radius: 25px;

  background-color: lightyellow;
}
.img{
  width: 215px;
  border-radius: 75px;
}
h1{
  text-align: center;
}

@media only screen and(max-width:450px) {
  .maindiv{
  display: flex;
  border: 5px solid black;
  flex-direction: column;
  justify-content: center;
  }

}
@media screen and (min-width:426px) and (max-width:768px){
  .maindiv{
  display: flex;
  border: 5px solid black;
  flex-wrap: wrap;
  justify-content: center;
  }

}
@media screen and (min-width:769px) and (max-width:1024px){
  .maindiv{
  display: flex;
  border: 5px solid black;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  }

}
